@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

// main background.
body{
    background-image: url('./Images/background1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}
// nav clickable links.
.nav-link{
    font-weight: bolder;
    color: brown;
    font-size: large;
}
// Sign up/in/ Change password background.
.row{
    background-color: rgba(250, 192, 36, 0.3);
    color: brown;
    border-radius: 20px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.row1 {
    background-color: rgba(250, 192, 36, 0.3);
    color: brown;
    border-radius: 20px;
    padding-bottom: 60px;

}
// make pledge background.
.create-booking{
    background-color:rgba(250, 192, 36, 0.3) ;
    border-radius: 25px;
    margin-top: 15px;
    text-align: center;
    color: brown;
    font-size: 20px;
}
// pledge-list (indexBooking)
.pledge-list{
    margin-left: 50%;
    margin-top: 5%;
    background-color:rgba(250, 192, 36, 0.5);
    border-radius: 20px; 
    
}

.your-pledge{
    margin-left: 25%;
    margin-top: 5%;
    background-color:rgba(250, 192, 36, 0.5);
    border-radius: 10px;
    text-align: center;
}
.list{
    margin-left: 45px;
    margin-bottom: 25px;
    margin-top: 15px;
    padding-bottom: 25px;
    
}

// pledge list h3 & h5 (indexBooking)
h3,h5{
    text-align: center;
}
.ml-auto{
    font-size: 20px;
    color: white;
  
}

.delBt {
   // delete button.

    margin-left: 25px;
    background-color: brown;
    color: white;
    border-radius: 10%;

}

.upBt {
    // update button
    margin-left: 25px;
    background-color: brown;
    color: white;
    border-radius: 10%;
}
.submit {
    // all submit buttons, create, sign in, sign up.
    margin-left: 25px;
    background-color: brown;
    color: white;
    border-radius: 10%;
}
